{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Title -->
    <title>LMS | ESIEE</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{% static "plugins/pace-master/themes/blue/pace-theme-flash.css" %}" rel="stylesheet"/>
    <link href="{% static "plugins/uniform/css/uniform.default.min.css" %}" rel="stylesheet"/>
    <link href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "plugins/fontawesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "plugins/line-icons/simple-line-icons.css" %}" rel="stylesheet" type="text/css"/>  
    <link href="{% static "plugins/offcanvasmenueffects/css/menu_cornerbox.css" %}" rel="stylesheet" type="text/css"/>	
    <link href="{% static "plugins/waves/waves.min.css" %}" rel="stylesheet" type="text/css"/>	
    <link href="{% static "plugins/switchery/switchery.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "plugins/3d-bold-navigation/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "plugins/slidepushmenus/css/component.css" %}" rel="stylesheet" type="text/css"/>	
    <link href="{% static "plugins/weather-icons-master/css/weather-icons.min.css" %}" rel="stylesheet" type="text/css"/>	
    <link href="{% static "plugins/metrojs/MetroJs.min.css" %}" rel="stylesheet" type="text/css"/>	
    <link href="{% static "plugins/toastr/toastr.min.css" %}" rel="stylesheet" type="text/css"/>	

    <!-- Theme Styles -->
    <link href="{% static "css/modern.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/themes/green.css" %}" class="theme-color" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/custom.css" %}" rel="stylesheet" type="text/css"/>

    <script src="{% static "plugins/3d-bold-navigation/js/modernizr.js" %}"></script>
    <script src="{% static "plugins/offcanvasmenueffects/js/snap.svg-min.js" %}"></script>
    <!-- 3d charts Styles -->
    <link href="{% static "plugins/morris/morris.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/d3radar.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.css">
    <!-- 3d charts Styles -->
</head>
<body class="page-header-fixed">
    <div class="overlay"></div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
        <h3><span class="pull-left">Chat</span><a href="javascript:void(0);" class="pull-right" id="closeRight"><i class="fa fa-times"></i></a></h3>

    </nav>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3><span class="pull-left">Sandra Smith</span> <a href="javascript:void(0);" class="pull-right" id="closeRight2"><i class="fa fa-angle-right"></i></a></h3>
        
    </div>
    <div class="chat-write">
        <form class="form-horizontal" action="javascript:void(0);">
            <input type="text" class="form-control" placeholder="Say something">
        </form>
    </div>
</nav>
<div class="menu-wrap">
    <nav class="profile-menu">
        <div class="profile"><img src="{% static "images/MH.png" %}" width="60" alt="David Green"/><span>David Green</span></div>
        <div class="profile-menu-list">
         <!-- <a href="#"><i class="fa fa-star"></i><span>Favorites</span></a> -->
         <a href="#"><i class="fa fa-bell"></i><span>Alerts</span></a>
         <a href="#"><i class="fa fa-envelope"></i><span>Messages</span></a>
         <a href="#"><i class="fa fa-comment"></i><span>Comments</span></a>
     </div>
 </nav>
 <button class="close-button" id="close-button">Close Menu</button>
</div>
<form class="search-form" action="#" method="GET">
    <div class="input-group">
        <input type="text" name="search" class="form-control search-input" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default close-search waves-effect waves-button waves-classic" type="button"><i class="fa fa-times"></i></button>
        </span>
    </div><!-- Input Group -->
</form><!-- Search Form -->
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a href="#" class="logo-text"><span>LMS</span></a>
            </div><!-- Logo Box -->
            <div class="search-button">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i class="fa fa-search"></i></a>
            </div>
            <div class="topmenu-outer">
                <div class="top-menu">
                    <ul class="nav navbar-nav navbar-left">
                        <li>		
                            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                        </li>
                        <li>		
                            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                <i class="fa fa-cogs"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-md dropdown-list theme-settings" role="menu">
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Fixed Header 
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right fixed-header-check" checked>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Fixed Sidebar 
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right fixed-sidebar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Horizontal bar 
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right horizontal-bar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Toggle Sidebar 
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right toggle-sidebar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Compact Menu 
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right compact-menu-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Hover Menu 
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right hover-menu-check">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Boxed Layout 
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right boxed-layout-check">
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="no-link"><button class="btn btn-default reset-options">Reset Options</button></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>	
                            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i class="fa fa-search"></i></a>
                        </li>
                        

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                <span class="user-name">{{request.user}}<i class="fa fa-angle-down"></i></span>
                                {#   <img class="img-circle avatar" src="{% static "images/MH.png" %}" width="40" height="40" alt=""> #}
                            </a>
                            <ul class="dropdown-menu dropdown-list" role="menu">
                                <li role="presentation"><a href="#"><i class="fa fa-user"></i>Profile</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a href="#"><i class="fa fa-lock"></i>Lock screen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/logout" class="log-out waves-effect waves-button waves-classic">
                                <span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>
                            </a>
                        </li>
                    </ul><!-- Nav -->
                </div><!-- Top Menu -->
            </div>
        </div>
    </div><!-- Navbar -->
    <div class="page-sidebar sidebar">
        <div class="page-sidebar-inner slimscroll">
            <div class="sidebar-header">
                <div class="sidebar-profile">
                    <a href="javascript:void(0);" id="profile-menu-link">
                        <div class="sidebar-profile-image">
                            <img src="" class="img-circle img-responsive" alt="">
                        </div>
                        <div class="sidebar-profile-details">
                            <span>{{request.user}}<br><small>Computer Science</small></span>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="menu accordion-menu">
                <li class="active"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
                <li><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Profile</p></a></li>

                <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-briefcase"></span><p>Course</p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        {% for data in courses %}
                        <li><a href="#">{{data.course_name}}</a></li>
                        {% endfor %}


                    </ul>
                </li>

            </ul>
        </div><!-- Page Sidebar Inner -->
    </div><!-- Page Sidebar -->
    <div class="page-inner">

        {# start Ulzii 05-04 login template from django #}
        {% block content %}
        {% endblock %}
        {# end Ulzii 05-04 login template from django #}


    </div><!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2018 &copy; Learning Managment System.</p>
    </div>
</div><!-- Page Inner -->
</main><!-- Page Content -->
<nav class="cd-nav-container" id="cd-nav">
    <header>
        <h3>Navigation</h3>
        <a href="#0" class="cd-close-nav">Close</a>
    </header>
    <ul class="cd-nav list-unstyled">
        <li class="cd-selected" data-menu="index">
            <a href="javsacript:void(0);">
                <span>
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                <p>Dashboard</p>
            </a>
        </li>
        <li data-menu="profile">
            <a href="javsacript:void(0);">
                <span>
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                <p>Profile</p>
            </a>
        </li>
        <li data-menu="inbox">
            <a href="javsacript:void(0);">
                <span>
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
                <p>Mailbox</p>
            </a>
        </li>
        <li data-menu="#">
            <a href="javsacript:void(0);">
                <span>
                    <i class="glyphicon glyphicon-tasks"></i>
                </span>
                <p>Tasks</p>
            </a>
        </li>
        <li data-menu="#">
            <a href="javsacript:void(0);">
                <span>
                    <i class="glyphicon glyphicon-cog"></i>
                </span>
                <p>Settings</p>
            </a>
        </li>
        <li data-menu="calendar">
            <a href="javsacript:void(0);">
                <span>
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <p>Calendar</p>
            </a>
        </li>
    </ul>
</nav>

<!-- Javascripts -->
<script src="{% static "plugins/jquery/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "plugins/jquery-ui/jquery-ui.min.js" %}"></script>
<script src="{% static "plugins/offcanvasmenueffects/js/classie.js" %}"></script>
<script src="{% static "plugins/3d-bold-navigation/js/main.js" %}"></script>
<script src="{% static "plugins/waypoints/jquery.waypoints.min.js" %}"></script>
<script src="{% static "plugins/jquery-counterup/jquery.counterup.min.js" %}"></script>
<script src="{% static "plugins/toastr/toastr.min.js" %}"></script>

{# <script src="{% static "plugins/curvedlines/curvedLines.js" %}"></script> #}
<script src="{% static "plugins/metrojs/MetroJs.min.js" %}"></script>
<script src="{% static "js/modern.js" %}"></script>
{# <script src="{% static "js/pages/dashboard.js" %}"></script> #}


<script src="{% static "plugins/pace-master/pace.min.js" %}"></script>
<script src="{% static "plugins/jquery-blockui/jquery.blockui.js" %}"></script>
<script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}"></script>
<script src="{% static "plugins/switchery/switchery.min.js" %}"></script>
<script src="{% static "plugins/uniform/jquery.uniform.min.js" %}"></script>
<script src="{% static "plugins/offcanvasmenueffects/js/main.js" %}"></script>
<script src="{% static "plugins/waves/waves.min.js" %}"></script>
<script src="{% static "plugins/chartsjs/Chart.min.js" %}"></script>
{# <script src="{% static "js/modern.min.js" %}"></script> #}
{# <script src="{% static "js/pages/charts-chartjs.js" %}"></script> #}

<!-- start D3Js -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.js"></script>

<!-- start D3Js -->

{% block javascript %}{% endblock %}
</body>
</html>