{# start Ulzii 08-04 teacher-sheets template from django #}
{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}
<div class="page-title">
    <h3>{{title}}</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active"> {{title}}</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        {% for data in courses %}
        <div class="col-md-6">
            <a href="/teacher/course/{{data.course_id}}/">
            <div class="panel info-box panel-white">
                <div class="panel-body">
                    <div class="info-box-stats">
                        <ul>
                            <li>
                                <div class="exercise_name">
                                    <h3> Course: {{data.course_name}}</h3>
                                    <span class="info-box-title">Course ID: {{data.course_id}} <strong>Level : {{data.course_level}} </strong></span>
                                </div>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div><!-- Row -->

</div> <!-- main-wrappe -->

{% endblock %}     
{# end Ulzii 08-04 teacher-sheets template from django #}