{# start Ulzii 05-04 login template from django #}
{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}
<div class="page-title">
    <h3>{{title}}</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active"> {{title}}</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
     <div class="col-lg-3 col-md-6">
       <a href="/teacher/courses_view">
        <div class="panel info-box panel-white">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter">{{courses|length }}</p>
                    <span class="info-box-title">Courses</span>
                </div>
                <div class="info-box-icon">
                    <i class="icon-eye"></i>
                </div>
            </div>
        </div>
    </a>
</div>


<div class="col-lg-3 col-md-6">
    <a href="/teacher/sheets_view">
    <div class="panel info-box panel-white">
        <div class="panel-body">
            <div class="info-box-stats">
                <p class="counter">{{number_of_sheets}}</p>
                <span class="info-box-title">Sheets</span>
            </div>
            <div class="info-box-icon">
                <i class="icon-eye"></i>
            </div>
        </div>
    </div>
</a>
</div>
<div class="col-lg-3 col-md-6">
   <a href="/teacher/exercises_view/">
    <div class="panel info-box panel-white">
        <div class="panel-body">
            <div class="info-box-stats">
                <p><span class="counter">{{number_of_exercises}}</span></p>
                <span class="info-box-title">Exercises</span>
            </div>
            <div class="info-box-icon">
                <i class="icon-eye"></i>
            </div>

        </div>
    </div>
</a>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel info-box panel-white">
        <div class="panel-body">
            <div class="info-box-stats">
                <p class="counter">{{number_of_students}}</p>
                <span class="info-box-title">Students</span>
            </div>
            <div class="info-box-icon">
                <i class="icon-eye"></i>
            </div>

        </div>
    </div>
</div>
</div><!-- Row -->

<div class="row">     
    <!-- Bar chart starts here -->
    <!-- BEGIN CHART JS -->

    <div class="col-md-6" style="display: none;">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Line Chart</h3>
            </div>
            <div class="panel-body">
                <div>
                    <canvas id="chart1" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Percentage of success – failure</h3>
            </div>
            <div class="panel-body">
                <div>
                    <canvas id="chart2" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- END CHART JS -->

    <!-- BEGIN MORRIS CHART -->
    <div class="col-md-6" style="display: none">
        <div class="panel panel-white">
            <div class="panel-body">
                <div id="morris1"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Number of tests conducted</h3>
            </div>
            <div class="panel-body">
                <div id="morris2" style="height: 265px"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="display: none">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Line Chart</h3>
            </div>
            <div class="panel-body">
                <div id="morris3"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="display: none">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Donut Chart</h3>
            </div>
            <div class="panel-body">
                <div id="morris4"></div>
            </div>
        </div>
    </div>
    <!-- END MORRIS CHART -->
</div>

<div class="col-md-6" style="display: none;">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h3 class="panel-title">Pie Chart</h3>
        </div>
        <div class="panel-body">
            <div>
                <canvas id="chart3" height="150"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" style="display: none;">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h3 class="panel-title">Doughnut Chart</h3>
        </div>
        <div class="panel-body">
            <div>
                <canvas id="chart4" height="150"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6" style="display: none;">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h3 class="panel-title">Polar Area Chart</h3>
        </div>
        <div class="panel-body">
            <div>
                <canvas id="chart5" height="150"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" style="display: none;">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h3 class="panel-title">Radar Chart</h3>
        </div>
        <div class="panel-body">
            <div>
                <canvas id="chart6" height="150"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- END CHARTJS -->

<!-- START PIE CHART -->
<div class="col-md-6" style="display: none;">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h3 class="panel-title">Bar Chart</h3>
        </div>
        <div class="panel-body">
            <div id="flot1"></div>
        </div>
    </div>
</div>
<div class="col-md-6" style="display: none;">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h3 class="panel-title">Line Chart</h3>
        </div>
        <div class="panel-body">
            <div id="flot2"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Number of students took test</h3>
            </div>
            <div class="panel-body">
                <div id="flot3"></div>
            </div>
        </div>
    </div>
    <!-- END PIE CHART -->

    <!-- BEGIN STUDENTS COMPARISON CHART -->
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Students Success Comparison</h3><br>
                <p style="color:#ebcc3a; display: inline; z-index: 999; position: absolute;"><strong>2017</strong></p><br>
                <p style="color:#EB3737; display: inline; z-index: 999; position: absolute;"><strong>2018</strong></p>
            </div>
            <div class="panel-body">
                <div id="sparkline1"></div>
            </div>
        </div>
    </div>
    <!-- END STUDENTS COMPARISON CHART -->

    <div id="activities">
        {% include 'teacher/activities.html' %}
    </div>

    <div class=" col-md-12">


    </div>
</div><!-- Main Wrapper -->



{% endblock %}   
{% block javascript %}
<script >
function refreshStudent(){
   $("#activities").load("/teacher/activities/");
}
refreshStudent();

</script>   
{% endblock %}


{# end Ulzii 05-04 login template from django #}

