{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>LMS | ESIEE</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">

    <!-- Styles -->
    <link href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Theme Styles -->
    <link href="{% static "css/modern.min.css" %}" rel="stylesheet" type="text/css"/>
</head>
<body class="page-header-fixed">
   
<main class="page-content content-wrap">
  <div class="page-inner">
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-6 center">
                            {# start Ulzii 05-04 login template from django #}
                            {% block content %}
                            {% endblock %}
                            {# end Ulzii 05-04 login template from django #}
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
    
    <div class="page-footer">
        <p class="no-s">2018 &copy; Learning Managment System.</p>
    </div>
</main><!-- Page Content -->

</body>
</html>